/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), 
   url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local(''),
   url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), 
   url('../fonts/open-sans-v20-latin-700.woff') format('woff'); 
}
*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

body {
   margin: 0;
   bottom: 0;
   font-family: "Open Sans", "Arial", sans-serif;
   font-size: 16px;
   line-height: 24px;
   margin-top: 56px;
}
img {
   vertical-align: middle;
   -o-object-fit: cover;
      object-fit: cover;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   margin: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}
.container {
   width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}
/*      Header       */
header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;   
   width: 100%;
   background-color: #fff;
   -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
           box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header-info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 8px 0;
}
.header-logo-link {
   text-decoration: none;
}
.header-logo-link:active {
   opacity: 60%;
}
.nav {
   display: flex;
}
.nav-list{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.nav-item {
   position: relative;
   z-index: 2;
}
.nav-item + .nav-item {
   margin-left: 32px;
}
.nav-item:nth-child(7) {
   margin-left: 24px;
}
.subnav-list {
   position: absolute;
   z-index: 1;
   top: 100%;
   display: none;
   width: 130px;
   height: 216px;
   margin: 0;
   padding: 16px;
   list-style-type: none;
   -webkit-box-shadow: 0 4px 24px   rgba(0, 0, 0, 0.1);
           box-shadow: 0 4px 24px   rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   -webkit-transform: translateX(-20%);
       -ms-transform: translateX(-20%);
           transform: translateX(-20%);
}
.subnav-item +.subnav-item {
   margin-top: 16px;
}
.subnav-item-link {
   text-decoration: none;
   color: #000
}
.nav-item-link {
   text-decoration: none;
   color: #000;
}
.nav-tel-link{
   display: inline-block;
   width: 160px;
   height: 40px;
   padding: 8px 16px;
   padding-top: 6px;
   text-decoration: none;
   text-align: center; 
   color: #fff;
   background-color: #00BAFC;
   border: 3px solid #00BAFC;
   border-radius: 5px;
}
.nav-item:nth-child(2):hover .hover-line {
   position: absolute;
   z-index: 1;
   top: 100%;
   left: 0;
   width: 98px;
   height: 3px;
   margin-top: 13px;
   -webkit-transform: translateX(-18%);
       -ms-transform: translateX(-18%);
           transform: translateX(-18%);
   background-color: #000;
}
.nav-item:nth-child(2):hover .subnav-list{
   display: block;
}
.nav-tel-link:hover{
   background-color: #fff;
   color: #00BAFC;
}
.nav-tel-link:active {
   color: #fff;
   background-color: #00BAFC;
   opacity: 60%;
}
.subnav-item:hover .subnav-item-link{
   color: #fff;
   background-color: #00BAFC;
}
.subnav-item:active .subnav-item-link {
   color: #fff;
   background-color: #00BAFC;
   opacity: 60%;
}

/*    Main  */
.biznes {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 80px 0;
}
.biznes-info {
   margin-right: 172px;
   
}
.biznes-info-heading {
   width: 470px;
   margin: 0;
   padding: 0;
   margin-bottom: 16px;
   font-weight: 700;
   font-size: 30px;
   line-height: 39px;
}
.biznes-info-paragraf {
   width: 465px;
   margin: 0;
   margin-bottom: 16px;
   padding: 0;
}
.biznes-info-link {
   display: inline-block;
   width: 232px;
   padding: 8px 16px;
   font-weight: 700;
   color: #fff;
   text-decoration: none;
   background-color: #00BAFC;
   border-radius: 5px;
}
/*Services section*/ 
.services-info {
   padding: 56px 0;
   text-align: center;
}
.section-heading {
   margin: 0;
   margin-bottom: 16px;
   padding: 0;
   font-weight: 700;
   font-size: 24px;
   line-height: 31px;
}
.section-paragraf {
   width: 719px;
   margin: 0 auto;
   margin-bottom: 24px;
   padding: 0;
}
.services-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap; 
   margin: 0 -35px;
   padding: 0;
   list-style-type: none;
}
.service-item {
   width: 320px;
   margin-top: 0;
   margin-right: 35px;
   margin-bottom: 48px;
   margin-left: 35px;
   padding: 24px 0;
   text-align: center;
   -webkit-box-shadow: 0 8px 8px   rgba(0, 0, 0, 0.1);
           box-shadow: 0 8px 8px   rgba(0, 0, 0, 0.1);
}
.service-item:hover {
   -webkit-box-shadow: 0 12px 21px   rgba(0, 0, 0, 0.1);
           box-shadow: 0 12px 21px   rgba(0, 0, 0, 0.1);
}
.service-item:active {
   -webkit-box-shadow: 0 4px 4px   rgba(0, 0, 0, 0.1);
           box-shadow: 0 4px 4px   rgba(0, 0, 0, 0.1);
}
.service-item:nth-child(4) {
   margin-left: 228px;
}
.service-item:nth-child(4), .service-item:nth-child(5) {
   margin-bottom: 40px;
}
.service-item-img {
   margin-bottom: 16px;
}
.service-name {
   margin: 0;
   margin-bottom: 16px;
   padding: 0;
   font-weight: 700;
   font-size: 20;
   line-height: 26px;
}
.service-paragraf {
   margin: 0;
   padding: 0;
}
.ordering-link {
   display: inline-block;
   width: 167px;
   margin-right: 16px;
   padding: 8px 16px;
   text-align: center;
   font-weight: 700;
   color: #fff;
   text-decoration: none;
   background-color: #00BAFC;
   border-radius: 5px;
}
.biznes-info-link {
   width: 232px;
}
.ordering-link:hover {
   opacity: 80%;
}
.ordering-link:active {
   opacity: 60%;
}
.services-link {
   display: inline-block;
   color: #00BAFC;
}
/*performance section*/
.performance-mode {
   padding: 56px 134px;
   text-align: center;
}
.performance-mode-list, .subperformance-mode-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.subperformance-mode-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
}
.performance-mode-item {
   margin-bottom: 48px;
}
.subperformance-mode-item {
   position: relative;
   z-index: 1;
   height: 278px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-left: 32px;
   text-align: left;
}
.performance-mode-item:nth-child(1) .subperformance-mode-item:nth-child(1)::before {
   position: absolute;
   z-index: 1;
   right: 0;
   display: block;
   width: 300px;
   height: 278px;
   background-image: url(../images/requirements.svg);
   content: '';
}
.performance-mode-item:nth-child(2) .subperformance-mode-item:nth-child(1)::before {
   position: absolute;
   z-index: 1;
   right: 0;
   display: block;
   width: 300px;
   height: 278px;
   background-image: url(../images/solutions.svg);
   background-repeat: no-repeat;
   content: '';
}
.performance-mode-item:nth-child(3) .subperformance-mode-item:nth-child(1)::before {
   position: absolute;
   z-index: 1;
   right: 0;
   display: block;
   width: 300px;
   height: 278px;
   background-image: url(../images/time-for-project.svg);
   background-repeat: no-repeat;
   content: '';
}
.performance-mode-item:nth-child(4) .subperformance-mode-item:nth-child(1)::before {
   position: absolute;
   z-index: 1;
   right: 0;
   display: block;
   width: 300px;
   height: 278px;
   background-image: url(../images/excellent-quality.svg);
   background-repeat: no-repeat;
   content: '';
}
.performance-mode-item:nth-child(5) .subperformance-mode-item:nth-child(1)::before {
   position: absolute;
   z-index: 1;
   right: 0;
   display: block;
   width: 300px;
   height: 278px;
   background-image: url(../images/support.svg);
   background-repeat: no-repeat;
   content: '';
}
.performance-mode-item:nth-child(2n) .subperformance-mode-list {
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
}
.performance-mode-item:nth-child(2n) .subperformance-mode-item:nth-child(1)::before{
   left: 0;
}
.performance-mode-item:nth-child(2n) .subperformance-mode-item:nth-child(1){
   -webkit-box-ordinal-group: 2;
       -ms-flex-order: 1;
           order: 1;
   margin-right: 32px;
}
.performance-mode-info-heading {
   width: 360px;
   margin: 0;
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
}
.performance-mode-info-paragraf {
   width: 495px;
   margin: 0;
   padding: 0;
}
/* ordering section */
.ordering {
   background-color: #00BAFC;
}
.ordering-info {
   padding-top: 56px;
   padding-bottom: 64px;
   text-align: center;
}
.ordering-info .section-heading, .section-paragraf {
   color: #fff;
}
.ordering-form {
   width: 348px;
   height: 304px;
   margin: 0 auto;
   padding: 24px;
   text-align: center;
   background-color: #fff;
   border-radius: 5px;
}
.form {
   width: 300px;
   height: 56px;
   margin-bottom: 16px;
   padding: 16px;
   color: #000;
   background-color: #F3F3F3;
   border: none;
   border-radius: 5px;
}
.order-select {
   position: relative;
   z-index: 1;
   -webkit-appearance: unset;
      -moz-appearance: unset;
           appearance: unset;
   background-image: url(../images/select-icon.svg);
   background-repeat: no-repeat;
   background-position: calc(50% + 114px);
}
.massage-send {
   width: 167px;
   margin-right: 16px;
   padding: 8px 16px;
   text-decoration: none;
   text-align: center;
   font-weight: 700;
   color: #fff;
   border: none;
   background-color: #00BAFC;
   border-radius: 5px;
}
.massage-send:hover {
   opacity: 80%;
}
.massage-send:active {
   opacity: 60%;
}
/* footer */
.footer {
   padding: 56px 0;
   background-color: #191919;
}
.footer-info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.copyright {
   margin-right: 100px;
}
.footer-heading {
   margin: 0;
   margin-bottom: 16px;
   padding: 0;
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: #fff;
}
.footer-paragraf
{
   width: 320px;
   margin: 0;
   padding: 0;
   color: #fff;
}
.sites-page {
   margin-right: 87px;
}
.page-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.page-item {
   margin-bottom: 8px;
}
.page-links {
   text-decoration: none;
   color: #fff;
}
.page-links:hover {
   color: #00BAFC;
}
.page-links:active {
   color: #00BAFC;
   opacity: 60%;
}
.networks-list {
   list-style-type: none;
   margin: 0;
   margin-bottom: 8px;
   padding: 0;
}
.networks-item {
   margin-bottom: 8px;
}
.networks-links {
   text-decoration: none;
   color: #fff;
}
.networks-links:hover {
   color: #00BAFC;
}
.networks-links:active {
   color: #00BAFC;
   opacity: 60%;
}